.toggle-target{
	overflow: hidden;
}


.toggle-sidebar.toggle-target:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.3);
	opacity: 0;
	/*Although mordern browser is clever enough to automatically render opacity in GPU, i putit here in case.*/
	will-change: opacity;
	pointer-events: none;
	transition: opacity 0.3s cubic-bezier(0,0,1,1);
}

.toggle-sidebar.toggle-isvisible.toggle-target:after {
	opacity: 1;
  	pointer-events: auto;
}

.toggle-target > div{
	-ms-transform: translateX(-100%); /* IE 9 */
    -webkit-transform: translateX(-100%); /* Chrome, Safari, Opera */
    transform: translateX(-100%);
    /*endable GPU rendering for this layer*/
    will-change: transform;
    /*the higest layer*/
    z-index: 9;
}

.toggle-target-left > div{
	-ms-transform: translateX(-100%); /* IE 9 */
    -webkit-transform: translateX(-100%); /* Chrome, Safari, Opera */
    transform: translateX(-100%);
}

.toggle-target-right > div{
	-ms-transform: translateX(100%); /* IE 9 */
    -webkit-transform: translateX(100%); /* Chrome, Safari, Opera */
    transform: translateX(100%);
}

.toggle-target-up > div{
	-ms-transform: translateY(-100%); /* IE 9 */
    -webkit-transform: translateY(-100%); /* Chrome, Safari, Opera */
    transform: translateY(-100%);
}

.toggle-target-down > div{
	-ms-transform: translateY(100%); /* IE 9 */
    -webkit-transform: translateY(100%); /* Chrome, Safari, Opera */
    transform: translateY(100%);
}


.toggle-isvisible{
	/*when the sidebar toggles, the poiter event should be auto*/
	pointer-events: auto;
}

.toggle-isvisible.toggle-target > div{
	/*when the sidebar shows, its postion should be top:0; left:0;*/
	/*This way is better. If we use left/top, then the browser is always creating new layers*/
	-ms-transform: none;
	-webkit-transform: none;
  	transform: none;
}

.toggle-animation.toggle-target > div{
	transition: all 350ms ease;
}

.toggle-animation.toggle-isvisible.toggle-target > div{
	transition: all 200ms ease;
}
